@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.profile-layout .profile-section .main-name,.profile-layout .profile-section .email-info{
    text-align:center;
    margin:0;
}
.profile-layout{
    min-height:200px;
    border:1px solid #dadada;
}
.profile-layout .profile-section .main-name{
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'Cinzel', serif;
}
.profile-layout .profile-img-section{
    height:300px;
    position:relative;
    padding:20px 10px 20px 10px !important;
    background:#fbfbfb;
    background: #dae2f8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dae2f8, #d6a4a4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dae2f8, #d6a4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #4ca1af; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca1af, #c4e0e5);

    background: #1d2b64; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1d2b64, #f8cdda); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1d2b64, #f8cdda);
}
.profile-layout .profile-img-section .profile-img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
}
.profile-layout .profile-img{

    top:0;

    border-radius:50%;
    overflow:hidden;
    margin:0 auto;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.site-login{
    margin-top: 5em;
}
.profile-layout .profile-section .text-information .email-info{
    color:#909090;
    margin-bottom:15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:16px;
}
.profile-section .tab-section .nav-tabs{
    border-bottom:1px solid #428BCA;
    border-top:1px solid #428bca;
}
.profile-section .tab-section .tab-content,.profile-layout .profile-img-section,.profile-layout .profile-section .text-information {
    padding:20px 10px;
}
.profile-section .tab-section .nav-tabs>li{
    margin-bottom:0px;
}
.profile-section .tab-section .nav-tabs>li>a{
    padding: 15px 20px;
}

.profile-section .tab-section .nav-tabs>li.active>a{
    border:1px solid #428bca;
    background:#428bca;
    color:#fff;
    border-radius:0px;
}

.profile-section .tab-section .tab-pane .form-control{
    height:45px;
    border-radius:0;
}

.profile-section .btn-submit{
    height: 40px;
    line-height: 28px;
    border-radius: 2px;

}
.profile-section span.input-group-addon{
    min-width:50px;
}
.profile-section span.input-group-addon .fa-lg{
    font-size:20px;
}
.no-edit-forms input.form-control{
    background:#eee;
    box-shadow:none;
    pointer-events:none;
}
.no-edit-forms textarea.form-control{
    background:#eee;
    box-shadow:none;
    pointer-events:none;
}

.profile-section .friend-list .media>a,.profile-section .friend-list .media>a:hover{
    text-decoration:none;
}

.profile-section .friend-list .media-left .media-object{
    height:auto;
}
.profile-section .friend-list .media-heading{
    color:#464646;
    line-height: 20px;
}

/*-------------------------PHOTO-------------------------*/


.shine_me{
    cursor:pointer;
    margin-bottom:10px;
}


.btn-hover {
    font-weight: normal;
    color: #333333;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

.btn-hover-alt {
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

#menu3 {
    text-align: center;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}
.form-group img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*_____________________________Search_________*/

.search {
    margin-top: 10%;
}
.search .form-section{
    background:rgba(0,0,0,0.6);
    border: 2px solid #414141;
    border-radius: 5px;
    padding: 10px;
}
.serchtile{
    color:#fff;
}

.badge{
    margin-bottom: 5px;
}

/*----------USER PAGE__________*/

.filter-col{
    padding-left:10px;
    padding-right:10px;
}
.btn-for-submit {

    float: right;
}

.buttonclass{
    width: 100%;
}